.edit_page {
    width: 100%;
    padding: 20px;
}

.edit_page_header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.edit {
    margin-top: 100px;
    color: lightgray;
}