.favorites_page {
    width: 100vw;
}

.favorites_header {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    width: 100%;
    margin-top: 5px;
}

.favorites_header_left {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.favorites_header_right {
    display: flex;
    align-items: center;
    margin-right: 15px;
}

.favorite_delete {
    background-color: #60646c;
    color: white;
    padding: 7px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 6px;
    margin: 4px 2px;
    cursor: pointer;
}

.images {
    margin-top: 20px;
    margin-left: 20px;
    align-content: center;
    display: flex;
    flex-wrap: wrap;
}

.images > div > img {
    object-fit: contain;
    height: 200px;
    margin-top: 5px;
    margin-left: 5px;
}