.login {
    margin-left: 10px;
    width: 100vw;
    height: 100vh;
}

.blocks{
    display: flex;
    margin-top: 20px;
}

.sign_in {
    padding: 0;
    max-width: 600px;
    margin-bottom: 20px;
}

.sign_up {
    padding: 0;
    max-width: 600px;
    margin-left: 20px;
}