.photolibrary {
    padding: 0;
    margin-left: 10px;
}

.library_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.gallery {
    margin-top: 20px;
    margin-left: 20px;
    align-content: center;
}

.gallery > img {
    object-fit: contain;
    height: 200px;
    margin-top: 5px;
    margin-left: 5px;
}
