.photolibrary {
    padding: 0;
}

.library_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.gallery {
    margin-top: 20px;
    margin-left: 10px;
    align-content: center;
    display: flex;
    flex-wrap: wrap;
}

.gallery > div > img {
    object-fit: contain;
    height: 200px;
    margin-top: 5px;
    margin-left: 5px;
}

.context {
    margin: 0;
}
