.Sidebar{
    height: 100%;
    max-width: 200px;
    background-color: lightgray;
  }
  
  .SidebarList {
    height: auto;
    width: 100%;
    padding: 0;
  }
  
  .SidebarList .row {
    width: 100%;
    height: 55px;
    list-style-type: none;
    margin: 0%;
  }

  .SidebarList .row a {
      text-decoration: none;
      color: black;
      width: 95%;
      height: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 0 16px;
      border-radius: 4px;
      justify-content: flex-start;
  }
  
  .SidebarList .row:hover {
    cursor: pointer;
    background-color: #696969;
  }
  
  .SidebarList #active {
    background-color: #696969;
  }

  span {
      margin-left: 16px;
  }

  .spacer {
      height: 100%;
      width: 200px;
  }