.signin_block {
    padding: 100px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.signin_block > img {
    object-fit: contain;
    height: 75px;
    margin-bottom: 10px;
}

.signin_block > h1 {
    margin-bottom: 15px;
}

.username {
    background-color: #eaeaea;
    display: flex;
    padding: 0 50px;
    color: gray;
    border: 1p gray solid;
    border-radius: 6px;
    height: 40px;
    margin-bottom: 10px;
}

.username > input {
    background-color: transparent;
    border: none;
    text-align: center;
    font-size: 20px;
}

.password {
    background-color: #eaeaea;
    display: flex;
    padding: 0 50px;
    color: gray;
    border: 1p gray solid;
    border-radius: 6px;
    height: 40px;
}

.password > input {
    background-color: transparent;
    border: none;
    text-align: center;
    font-size: 20px;
}